.widget ul {
	list-style: none;
	margin-bottom: 0;
	margin-left: 0;
	padding-left: 0;
}

.widget ul li {
	border-top: solid 1px #eee;
	line-height: 1.4;
	padding-bottom: 12px;
	padding-top: 12px;
}

.widget>ul>li:first-child,
.widget>div>ul>li:first-child {
	border-top: none;
	padding-top: 8px;
}

.widget li a {
	text-decoration: none;
}

a {
	color: inherit;
	text-decoration: none;
	transition: background-color .2s ease-in-out, border-color .2s ease-in-out, color .2s ease-in-out, opacity .2s ease-in-out;
}

a:visited,
a:hover,
a:link,
a:active {
	color: black;
	text-decoration: none;
}

.widget_recent_comments li a {
	text-decoration: underline;
}

.nav-links .nav-previous a {
	color: #fff;
	background-color: #6c757d;
}

.nav-links .nav-next a {
	color: #fff;
	background-color: #6c757d;
}

.navbar-dark .navbar-nav .dropdown-menu a {
	display: block;
	width: 100%;
	padding: .25rem 1.5rem;
	clear: both;
	font-weight: 400;
	color: #212529;
	text-align: inherit;
	white-space: nowrap;
	background-color: transparent;
	border: 0;
}

.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active {
	color: #212529;
}

.navbar-dark .navbar-nav .dropdown-menu .nav-link:hover,
.navbar-dark .navbar-nav .dropdown-menu .nav-link:focus {
	color: #212529;
}

.entry-title a {
	color: #fff;
	background-color: #343a40;
}

.header-image-page {
	max-height: 260px;
	overflow: hidden;
}

.header-image-page img {
	width: 100%;
}

img {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}